<h4>Notes</h4>

<p>notes is an application created by Mike Sarfaty</p>
<p>the purpose of the application is to provide entertainment in the form of discovery</p>
<p>the goal is for there to be thousands of potential notes, and by rate limiting sharing and</p>
<p>how many can be seen at one time, it's unlikely to ever find all of them</p>
<p></p>
<h4>Notes statistics</h4>

<p>There are currently: {{note_count}} notes</p>
<p>Of which, {{note_count}} are public notes</p>
<p>Of which, 0 are private notes</p>
<p></p>
<p>Amount of unique addresses that have created notes: {{author_count}}</p>
<p>Your address has created {{notes_from_ip}} notes</p>
<p>There are {{unviewed_notes}} notes that have never been viewed</p>
<p>There are {{unshared_notes}} that have never been shared</p>
<p>View one <a href='{{unshared_note_ref}}'>here</a></p>